.back-table{
    background-color: #22A39F;
    color: white;
    font-weight: bolder;
}

.back-table-head{
    background-color: #22A39F;
    color: white;
    font-weight: bolder;
}

.body-back{
    background-color: #22A39F;
}

.btn-back{
    background-color: #22A39F;
}